<section class="configuration-page">

  <header class="configuration-header">

    <div class="header-icon">
      <svg lucideSettings></svg>
    </div>

    <div>
      <h1>
        Configuración
      </h1>

      <p>
        Administra usuarios, roles, permisos y parámetros generales
        de Analytics Tuluá.
      </p>
    </div>

  </header>

  <nav class="configuration-navigation">

    @if (
      authService.hasPermission('usuarios.ver')
    ) {
      <a
        routerLink="/configuracion/usuarios"
        routerLinkActive="active"
      >
        <svg lucideUsers></svg>

        <span>
          Usuarios
        </span>
      </a>
    }

    @if (
      authService.hasPermission('roles.ver')
    ) {
      <a
        routerLink="/configuracion/roles"
        routerLinkActive="active"
      >
        <svg lucideShieldCheck></svg>

        <span>
          Roles y permisos
        </span>
      </a>
    }

    @if (
      authService.hasPermission('dependencias.ver')
    ) {
      <a
        routerLink="/configuracion/dependencias"
        routerLinkActive="active"
      >
        <svg lucideBuilding2></svg>

        <span>
          Dependencias
        </span>
      </a>
    }

    @if (
      authService.hasPermission('carga_masiva.ver')
    ) {
      <a
        routerLink="/configuracion/carga-masiva"
        routerLinkActive="active"
      >
        <svg lucideFileSpreadsheet></svg>

        <span>
          Carga masiva
        </span>
      </a>
    }

  </nav>

  <section class="configuration-content">
    <router-outlet></router-outlet>
  </section>

</section>